body {
    font-family: Arial, sans-serif;
    background-color: #D2B48C; /* Este es un color marrón claro */
    color: #000000; /* Este es negro */
    margin: 0; /* Añadido para eliminar los márgenes */
    padding: 0; /* Añadido para eliminar el relleno */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    text-align: center;
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url('Fotos/nathan-dumlao-yY1qNV3bhWA-unsplash.jpg');
    background-size: cover; /* Cambiado de 'cover' a 'contain' */
    color: white;
}


.header h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
}

.nav{
    position: sticky; /* Añadido para hacer el menú pegajoso */
    top: 0; /* Añadido para pegar el menú en la parte superior */
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Añadido para centrar el menú */
    background-color: #333;
    color: white;
   
}

.nav li {
    display: inline;
    margin-right: 20px;
    color: white; /* Añadido para cambiar el color de las letras a blanco */
}

.nav button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.nav button:hover {
    background-color: #777;
}

.product {
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px;
    background-color: #c29a66; /* Este es un color marrón claro */
    color: #000000; /* Este es negro */
}

.product img {
    width: 100%;
    height: auto;
}

.product button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.product button:hover {
    background-color: #777;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    flex: 3;
}

/*Carrito*/
#carrito {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 600px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

.table {
    margin: 10px 0; /* Agrega margen arriba y abajo de la tabla */
}

.table th, .table td {
    padding: 10px; /* Agrega padding a las celdas de la tabla */
}

.imagen-carrito{
    width: 117px;
    height: 117px;
}

/* Estilo para el botón de cierre */
#cerrarCarrito {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}



/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;           
    position: relative; /* Posición relativa para el texto */
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1140px; /* Ajustar el ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
}

.footer-col {
    flex: 1; /* Cada columna ocupa 1/4 del ancho */
    padding: 10px;
    position: relative; /* Posición relativa para el contenido */
}


.footer-col h2 {
    font-size: 24px; /* Tamaño de fuente para los títulos del pie de página */
    margin-bottom: 10px;
}


/* Estilos para móvil */
@media screen and (max-width: 480px) {

    .header h1 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #000000;
    }

    .products {       
        grid-template-columns: 1fr;
    }

    .nav li {
        display: inline;
        margin-right: -5px;
        color: white; /* Añadido para cambiar el color de las letras a blanco */
    }

    
}